/* web/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border border-gray-200;
  }
  body {
    @apply bg-gray-50 text-gray-900;
  }
  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
  .dark * {
    @apply border-gray-700;
  }
}
